<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>我脑袋里的怪东西</string>
		<key>author</key>
		<string>[土耳其]奥尔罕.帕慕克</string>
		<key>desc</key>
		<string>这个故事讲述麦夫鲁特•卡拉塔什的人生和梦想。故事的主人公麦夫鲁特，一个叫卖酸奶和钵扎的街头小贩，1957年出生于亚洲最西端的安纳托利亚中部的一个小村庄，那里可以远望迷雾湖畔，却一贫如洗。十二岁那年，他来到世界之都伊斯坦布尔，便一直生活在这里。二十五岁那年，他从邻村抢了一个女孩，虽然其中发生了一些怪异的事情，但此举决定了他后来的一生。回到伊斯坦布尔，他结婚并有了...</string>
		<key>picture</key>
		<string>wonaodai.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>非洲三万里</string>
		<key>author</key>
		<string>毕淑敏</string>
		<key>desc</key>
		<string>毕淑敏2016年开山之作，25万文字从未发表 。收录百余张独家珍贵彩照，非洲土著手绘彩图，全彩印刷。
一张价值2万美金的单程车票，一场直面饥民、皇帝、僧侣、狮子和荒野的迷之旅行。 走了这许多路途，耗费这许多心力，不过是想要成为真正的自己。
这是毕淑敏乘坐 “非洲之傲”游遍非洲大地后，于2015年闭关创作的旅行札记。
“非洲之傲”是以非洲行为主题的旅行用蒸汽机车，单张车票标价在1万到9万美元之间，以奢华闻名于世，有“流动的五星级酒店”“铁轨上的游轮”之称，主要服务于来自全世界的财阀豪门后代、商业精英、政界领袖。
然而列车行经之地，却有很多是非洲最底层民众聚居的贫民窟，一道车窗劈开了奢华与贫穷，餐车内的社会名流举起银杯开怀畅饮时，车窗外围满了无衣无食的孩子们。这种强烈的对比引起了毕淑敏的关注，在这次旅行中，她不但记录了非洲各地人情风物、旅游见闻，还对车内...</string>
		<key>picture</key>
		<string>feizhou.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>钓愚</string>
		<key>author</key>
		<string>[美]乔治.阿克洛夫/罗伯特.席勒</string>
		<key>desc</key>
		<string>自亚当·斯密以来，经济学的核心信条就是：自由市场制度就像一只“看不见的手”，但现在这只“看不见的手”已经变成了随时准备绊倒消费者的“看不见的脚”。
两位诺奖得主乔治·阿克洛夫、罗伯特·席勒认为，市场在为我们带来福利的同时，也带来了灾难。普遍存在的人性弱点、信息不对称等让我们成为“钓愚”中的受骗者。
作者历数从投行到政客，从汽车销售到房地产中介，从烟厂到酒厂，从食品厂到制药商，从信用卡到广告，无不存在“自由的欺骗”。他们以一个个生动的事例、详实的数据、幽默的阐述揭示了从日常生活到金融、政治等层面的富有想象力的钓愚手段，从另一个角度反思了金融危机爆发的内在原因：钓愚不仅让普通大众损失惨重，而且带来了前所未有的系统性风险，导致经济崩溃。
作者进一步强调，如果政策制定者、经济学家和普通大众都能意识到钓愚的普遍存在，就能辨明和杜绝可能导致严重危机的欺骗问题，从...</string>
		<key>picture</key>
		<string>diaoyu.jpg</string>
	</dict>
</array>
</plist>
